<a href="https://colab.research.google.com/github/cam2149/Extraction_Storage/blob/main/Practica_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<font color="green">*Para iniciar, cree su propia copia de este notebook. File> Save a Copy in Drive*</font>

#Práctica de MongoDB utilizando pymongo

A continuación se encuentran las instrucciones para instalar pymongo en notebook en Colab, la configuración de la conexión a un cluster montado en Atlas MongoDB con el fin de realizar consultas en la base de datos test.  

**Instrucciones**

Realice cada una de las instrucciones, analice el resultado y realice las consultas propuestas al final.

##1. Objetivo

El objetivo de este taller es poder realizar consultas a una base de datos MongoDB montada en Atlas, utilizando pymongo

##2. Configuración pymongo

Pymongo es una librería de Python para poder conectarnos a una base de datos MongoDB. En este ejemplo vamos a ver cómo conectarnos desde Python a MongoDB.

In [1]:
!python --version

Python 3.10.12

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 13.2 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 14.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [3]:
import pymongo

##3. Configurando la conexión a la base de datos test en el cluster en Atlas MongoDB

In [15]:
# Trying 3.6+ connection string
client = pymongo.MongoClient(
    "mongodb+srv://ead:ead12345@cluster0.v5rih5b.mongodb.net/ead")
db = client.ead
collection = db.users

In [19]:
# Trying 3.6+ connection string
client = pymongo.MongoClient(
    "mongodb+srv://ead:ead12345@cluster0.v5rih5b.mongodb.net/ead")
db = client.ead
collection = db.users

In [20]:
db

Database(MongoClient(host=['ac-vv4a0mx-shard-00-01.v5rih5b.mongodb.net:27017', 'ac-vv4a0mx-shard-00-02.v5rih5b.mongodb.net:27017', 'ac-vv4a0mx-shard-00-00.v5rih5b.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-mrr86e-shard-0', tls=True), 'ead')

##Inserción de un documento

Modifique la siguiente instrucción, antes de ejecutarla.  Coloque sus propios datos antes de realizar la inserción del documento.

In [18]:
#modifique los datos antes de insertar el documento

db.users.insert_one({'nombre':'Carlos Alberto','apellido':'Martinez Ramirez','edad':45, 'genero':'Masculino'})
db.users.insert_one({'nombre':'Maria Antonieta','apellido':'De las Nieves','edad':37, 'genero':'Femenino'})
db.users.insert_one({'nombre':'Ramón','apellido':'Villagra','edad':65, 'genero':'Masculino'})
db.users.insert_one({'nombre':'Michael','apellido':'Jackson','edad':52, 'genero':'Masculino'})

InsertOneResult(ObjectId('66d93c2876cc429b75215306'), acknowledged=True)

##Consultas

Consultar todos los documentos en la colección *users*

In [21]:
list(db.users.find())

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 47,
  'genero': 'femenino'},
 {'_id': ObjectId('66c69ca73756af26287fb69e'),
  'nombre': 'Andres',
  'apellido': 'Rodriguez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66c69e743756af26287fb69f'),
  'nombre': 'Felipe',
  'apellido': 'Perez'},
 {'_id': ObjectId('66ca25ae617e63bd422fb742'),
  'nombre': 'Danna',
  'apellido': 'Espinosa',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca269cfe854902920261ae'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca26b1fe854902920261af'),
  'nombre': 'Jonathan',
  'apellido': 'Pacheco',
  'edad': 36,
  'genero': 'masculino'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'),
  'nombre': 'David',
  'apellido': 'Orozco',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d0f279b65667b4a5a498bc'),
  'nombre': 'Alexandra',
  'apellido': 'Arenas',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'),
  'nombre': 'Danny',
  'apellido': 'Martinez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d93c1976cc429b75215303'),
  'nombre': 'Carlos Alberto',
  'apellido': 'Martinez Ramirez',
  'edad': 45,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215304'),
  'nombre': 'Maria Antonieta',
  'apellido': 'De las Nieves',
  'edad': 37,
  'genero': 'Femenino'},
 {'_id': ObjectId('66d93c2876cc429b75215305'),
  'nombre': 'Ramón',
  'apellido': 'Villagra',
  'edad': 65,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215306'),
  'nombre': 'Michael',
  'apellido': 'Jackson',
  'edad': 52,
  'genero': 'Masculino'}]

**Selección**
Consultar los usuarios con edad igual a 28.

In [22]:
list(db.users.find({'edad':28}))

[{'_id': ObjectId('66ca269cfe854902920261ae'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'}]

In [23]:
list(db.users.find({'edad':45}))

[{'_id': ObjectId('66d93c1976cc429b75215303'),
  'nombre': 'Carlos Alberto',
  'apellido': 'Martinez Ramirez',
  'edad': 45,
  'genero': 'Masculino'}]

In [24]:
list(db.users.find({'edad':37}))

[{'_id': ObjectId('66c69ca73756af26287fb69e'),
  'nombre': 'Andres',
  'apellido': 'Rodriguez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'),
  'nombre': 'David',
  'apellido': 'Orozco',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'),
  'nombre': 'Danny',
  'apellido': 'Martinez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215304'),
  'nombre': 'Maria Antonieta',
  'apellido': 'De las Nieves',
  'edad': 37,
  'genero': 'Femenino'}]

**Consultar un solo documento**

In [25]:
db.users.find_one()

{'_id': ObjectId('66b2535cc0bcf1bf786032ad'),
 'nombre': 'Monica',
 'apellido': 'Rojas',
 'edad': 47,
 'genero': 'femenino'}

**Proyección**

Consultar los apellidos de todos los usuarios

In [26]:
list(db.users.find({},{'apellido':1}))

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66c69ca73756af26287fb69e'), 'apellido': 'Rodriguez'},
 {'_id': ObjectId('66c69e743756af26287fb69f'), 'apellido': 'Perez'},
 {'_id': ObjectId('66ca25ae617e63bd422fb742'), 'apellido': 'Espinosa'},
 {'_id': ObjectId('66ca269cfe854902920261ae'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66ca26b1fe854902920261af'), 'apellido': 'Pacheco'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'), 'apellido': 'Orozco'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66d0f279b65667b4a5a498bc'), 'apellido': 'Arenas'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'), 'apellido': 'Martinez'},
 {'_id': ObjectId('66d93c1976cc429b75215303'), 'apellido': 'Martinez Ramirez'},
 {'_id': ObjectId('66d93c2876cc429b75215304'), 'apellido': 'De las Nieves'},
 {'_id': ObjectId('66d93c2876cc429b75215305'), 'apellido': 'Villagra'},
 {'_id': ObjectId('66d93c2876cc429b75215306'), 'apellido': 'Jackson'}]

**Proyección y selección**

Consultar los usuarios nombre Monica y mostrar el apellido

In [27]:
list(db.users.find({'nombre':'Monica'},{'apellido':1}))

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66ca269cfe854902920261ae'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'), 'apellido': 'Rojas'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'), 'apellido': 'Rojas'}]

In [28]:
list(db.users.find({'nombre':'Ramon'},{'apellido':1}))

[]

In [29]:
list(db.users.find({'nombre':'Ramón'},{'apellido':1}))

[{'_id': ObjectId('66d93c2876cc429b75215305'), 'apellido': 'Villagra'}]

**Operadores**

Consulte todos los operadores en [Operators MongoDB](https://www.mongodb.com/docs/manual/reference/operator/query/)

**Diferente**

Mostrar los usuarios con nombre diferente a Mario

In [30]:
#se crea una variable usuario para recibir el resultado de la consulta
usuario = db.users.find({'nombre':{'$ne':'Mario'}})

In [31]:
#se muestra
list(usuario)

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 47,
  'genero': 'femenino'},
 {'_id': ObjectId('66c69ca73756af26287fb69e'),
  'nombre': 'Andres',
  'apellido': 'Rodriguez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66c69e743756af26287fb69f'),
  'nombre': 'Felipe',
  'apellido': 'Perez'},
 {'_id': ObjectId('66ca25ae617e63bd422fb742'),
  'nombre': 'Danna',
  'apellido': 'Espinosa',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca269cfe854902920261ae'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca26b1fe854902920261af'),
  'nombre': 'Jonathan',
  'apellido': 'Pacheco',
  'edad': 36,
  'genero': 'masculino'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'),
  'nombre': 'David',
  'apellido': 'Orozco',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d0f279b65667b4a5a498bc'),
  'nombre': 'Alexandra',
  'apellido': 'Arenas',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'),
  'nombre': 'Danny',
  'apellido': 'Martinez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d93c1976cc429b75215303'),
  'nombre': 'Carlos Alberto',
  'apellido': 'Martinez Ramirez',
  'edad': 45,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215304'),
  'nombre': 'Maria Antonieta',
  'apellido': 'De las Nieves',
  'edad': 37,
  'genero': 'Femenino'},
 {'_id': ObjectId('66d93c2876cc429b75215305'),
  'nombre': 'Ramón',
  'apellido': 'Villagra',
  'edad': 65,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215306'),
  'nombre': 'Michael',
  'apellido': 'Jackson',
  'edad': 52,
  'genero': 'Masculino'}]

**Usuarios con edad mayor a 20**

In [33]:
list(db.users.find({'edad':{'$gte':30}}))

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 47,
  'genero': 'femenino'},
 {'_id': ObjectId('66c69ca73756af26287fb69e'),
  'nombre': 'Andres',
  'apellido': 'Rodriguez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66ca26b1fe854902920261af'),
  'nombre': 'Jonathan',
  'apellido': 'Pacheco',
  'edad': 36,
  'genero': 'masculino'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'),
  'nombre': 'David',
  'apellido': 'Orozco',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'),
  'nombre': 'Danny',
  'apellido': 'Martinez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d93c1976cc429b75215303'),
  'nombre': 'Carlos Alberto',
  'apellido': 'Martinez Ramirez',
  'edad': 45,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215304'),
  'nombre': 'Maria Antonieta',
  'apellido': 'De las Nieves',
  'edad': 37,
  'genero': 'Femenino'},
 {'_id': ObjectId('66d93c2876cc429b75215305'),
  'nombre': 'Ramón',
  'apellido': 'Villagra',
  'edad': 65,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215306'),
  'nombre': 'Michael',
  'apellido': 'Jackson',
  'edad': 52,
  'genero': 'Masculino'}]

**Consulta con el operador OR**

Mostrar los usuarios con nombre Mario o apellido Rojas

In [36]:
list(db.users.find({'$or':[{'nombre':'Ramón'},{'apellido':'Jackson'}]}))

[{'_id': ObjectId('66d93c2876cc429b75215305'),
  'nombre': 'Ramón',
  'apellido': 'Villagra',
  'edad': 65,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215306'),
  'nombre': 'Michael',
  'apellido': 'Jackson',
  'edad': 52,
  'genero': 'Masculino'}]

**Mostrar los generos distintos**

In [37]:
db.users.distinct('genero')

['Femenino', 'Masculino', 'femenino', 'masculino']

**Consultas**

Practica realizando las siguientes consultas

1.   Consulte todos los documentos

In [45]:
list(db.users.find())

[{'_id': ObjectId('66b2535cc0bcf1bf786032ad'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 47,
  'genero': 'femenino'},
 {'_id': ObjectId('66c69ca73756af26287fb69e'),
  'nombre': 'Andres',
  'apellido': 'Rodriguez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66c69e743756af26287fb69f'),
  'nombre': 'Felipe',
  'apellido': 'Perez'},
 {'_id': ObjectId('66ca25ae617e63bd422fb742'),
  'nombre': 'Danna',
  'apellido': 'Espinosa',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca269cfe854902920261ae'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66ca26b1fe854902920261af'),
  'nombre': 'Jonathan',
  'apellido': 'Pacheco',
  'edad': 36,
  'genero': 'masculino'},
 {'_id': ObjectId('66cdf6b3cf781c0d50e9b5ae'),
  'nombre': 'David',
  'apellido': 'Orozco',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d0f266b65667b4a5a498bb'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d0f279b65667b4a5a498bc'),
  'nombre': 'Alexandra',
  'apellido': 'Arenas',
  'edad': 21,
  'genero': 'femenino'},
 {'_id': ObjectId('66d331c94e581d85d3624d2a'),
  'nombre': 'Monica',
  'apellido': 'Rojas',
  'edad': 28,
  'genero': 'femenino'},
 {'_id': ObjectId('66d3320c4e581d85d3624d2b'),
  'nombre': 'Danny',
  'apellido': 'Martinez',
  'edad': 37,
  'genero': 'masculino'},
 {'_id': ObjectId('66d93c1976cc429b75215303'),
  'nombre': 'Carlos Alberto',
  'apellido': 'Martinez Ramirez',
  'edad': 45,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215304'),
  'nombre': 'Maria Antonieta',
  'apellido': 'De las Nieves',
  'edad': 37,
  'genero': 'Femenino'},
 {'_id': ObjectId('66d93c2876cc429b75215305'),
  'nombre': 'Ramón',
  'apellido': 'Villagra',
  'edad': 65,
  'genero': 'Masculino'},
 {'_id': ObjectId('66d93c2876cc429b75215306'),
  'nombre': 'Michael',
  'apellido': 'Jackson',
  'edad': 52,
  'genero': 'Masculino'}]

2.   Muestre los nombres, apellidos de todos los usuarios, sin mostrar el campo *_id*

In [56]:
list(db.users.find({},{'_id':0,'nombre':1,'apellido':1}))

[{'nombre': 'Monica', 'apellido': 'Rojas'},
 {'nombre': 'Andres', 'apellido': 'Rodriguez'},
 {'nombre': 'Felipe', 'apellido': 'Perez'},
 {'nombre': 'Danna', 'apellido': 'Espinosa'},
 {'nombre': 'Monica', 'apellido': 'Rojas'},
 {'nombre': 'Jonathan', 'apellido': 'Pacheco'},
 {'nombre': 'David', 'apellido': 'Orozco'},
 {'nombre': 'Monica', 'apellido': 'Rojas'},
 {'nombre': 'Alexandra', 'apellido': 'Arenas'},
 {'nombre': 'Monica', 'apellido': 'Rojas'},
 {'nombre': 'Danny', 'apellido': 'Martinez'},
 {'nombre': 'Carlos Alberto', 'apellido': 'Martinez Ramirez'},
 {'nombre': 'Maria Antonieta', 'apellido': 'De las Nieves'},
 {'nombre': 'Ramón', 'apellido': 'Villagra'},
 {'nombre': 'Michael', 'apellido': 'Jackson'}]



```
# Esto tiene formato de código
```

3.   Muestre los nombres y apellidos de los usuarios mayores de 18 años

In [75]:
list(db.users.find({'edad':{'$gte':18}}, {'nombre':1,'apellido':1,'edad':1,'_id': 0 }))

[{'nombre': 'Monica', 'apellido': 'Rojas', 'edad': 47},
 {'nombre': 'Andres', 'apellido': 'Rodriguez', 'edad': 37},
 {'nombre': 'Danna', 'apellido': 'Espinosa', 'edad': 21},
 {'nombre': 'Monica', 'apellido': 'Rojas', 'edad': 28},
 {'nombre': 'Jonathan', 'apellido': 'Pacheco', 'edad': 36},
 {'nombre': 'David', 'apellido': 'Orozco', 'edad': 37},
 {'nombre': 'Monica', 'apellido': 'Rojas', 'edad': 28},
 {'nombre': 'Alexandra', 'apellido': 'Arenas', 'edad': 21},
 {'nombre': 'Monica', 'apellido': 'Rojas', 'edad': 28},
 {'nombre': 'Danny', 'apellido': 'Martinez', 'edad': 37},
 {'nombre': 'Carlos Alberto', 'apellido': 'Martinez Ramirez', 'edad': 45},
 {'nombre': 'Maria Antonieta', 'apellido': 'De las Nieves', 'edad': 37},
 {'nombre': 'Ramón', 'apellido': 'Villagra', 'edad': 65},
 {'nombre': 'Michael', 'apellido': 'Jackson', 'edad': 52}]